<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Welcome to Test Taker</title>
    <link rel="stylesheet" href="stylesheets/main.css">
	</head>

	<body data-target=".navbar-fixed-top">
	<nav class = "navbar" role="navigation">
		<div class="container">
		<ul>
			<li><a class="active" href="">Home</a></li>
			<li><a href="/review_quiz">Revew Past Quizes</a></li>
			<li><a href="/take_quiz">Take a Quiz</a></li>
			<li><a href="/sign_in">Sign In</a></li>
		</ul>
			
		</div>
		
	</nav>
	<body>
	<h1>Welcome to Test Taker!</h1>
	<h2>Are you ready to take a test?</h2>
	<p class="main">
	</p>



