
▽
<!DOCTYPE html>
<html lang="en">
        <head>
                <title>Welcome to Test Taker</title>
        <link rel="stylesheet" href="/static/stylesheets/main.css">
        </head>

        <body>
        <nav class = "navbair" role="navigation">
                <div class=" header container">
                <ul>
                        <li><a class="active" href="home.html">Home</a></li>
                        <li><a href="review.html">Revew Past Quizes</a></li>
                        <li><a href="quizes.html">Take a Quiz</a></li>
                        <li><a href="/sign_in">Sign In</a></li>
                </ul>

                </div>

        </nav>
        <body>
        <h1>Welcome to Test Taker!</h1>
        <h2>Are you ready to take a test?</h2>
        <p class="main">
                Here is a list of all the quizes that are available:
                <ul>
                {% for quiz in quizzes %}
                        <li> <a href="/quiz/{{quiz.id}}">{{quiz.name }}</a></li>
                {% endfor %}
                </ul>
        </p>




~
~
~
~
~
~
~
~
~
~
~
~
"index.html" 35L, 766C                                                                                                                                                                    1,1           All