<!DOCTYPE html>
<html lang="en">

<head>
	<title>Welcome to Test Taker</title>
    <link rel="stylesheet" href="stylesheets/main.css">
	</head>

	<body>
	<nav class = "navbar" role="navigation">
		<div class="container">
		<ul>
			<li><a href="home.html">Home</a></li>
			<li><a class="active" href="review.html">Revew Past Quizes</a></li>
			<li><a href="quizes.html">Take a Quiz</a></li>
			<li><a href="/sign_in">Sign In</a></li>
		</ul>
			
		</div>
		
	</nav>
	<body>
	<h1>Review</h1>
	<h2>You can browse all of your previously taken tests, and go over your results</h2>
	<p class="main">
	</p>