{% extends "quiz/base.html" %}
{% block content %}
<h1>{{quiz}} </h1>
<div id="main">
	<div class="container">
		<h3>{{question.body}} </h3>
		<p>Q: {{question.body}}</p>
		<ul>
			{% for form in forms%}
				{% if form.1 %}
					<form action="" method="post">
						{% csrf_token %}
						<li id="answered">A: {{form.0}}   {{ form.2 }}</li>
						<input type = "submit" value="Deselect answer"/>
					</form>
				{% else %}
					<form action = "" method="post">
					{% csrf_token %}
						<li>A: {{form.0}}   {{ form.2 }} </li>
						<input type = "submit" value="Select answer"/>
					</form>
				{% endif %}
				
			{% endfor %}
		</ul>
		<span>
			<a href="/take/{{quiz.id}}/{{prev_q}}"><button>Previous Question</button></a>
			<a href="/take/{{quiz.id}}/{{next_q}}"><button>Next Question</button></button></a></span>
	</div>
</div>
{% endblock %}
