{% extends "quiz/base.html" %}

{% block content %}

<div id="main">
	<h2> You are writing answers for {{ question.quiz }} </h2>
	<div class="container">
	<h4>The Question is: {{question.body}}</h4>
	<h4>The current answers are: </h4>
	
		<ul>
			{% for answer in answers %}
				<li>{{answer.body}}</li>
			{% endfor %}
		</ul>
		<h4>Add a new answer below:</h4>

		<form method="post">
			{% csrf_token %}
			{{ form.as_ul }}
			<input type = "submit" value="Add answer"/>
		</form>
		<br/>
		<br/>
		<a href="/quiz/{{ question.quiz.id }}/new/question"><button>Return to Quiz</button></a>
	</div>
</div>


{% endblock %}